html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 120px;
    margin-top: 80px;
}

.footer {
    position: absolute;
    bottom: -0.5rem;
    width: 100%;
    /* Set the fixed height of the footer here */
    min-height: 110px;
    background-color: #f5f5f5;
    margin: 1rem 0 0 0;
}

.footer > .container {
    margin-top: 1rem;
}

.footer a {
    color: #9f9f9f;
}

